<div id="profile" class="profile-edit tab-pane fade in active">
    <h2 class="heading-md">Manage your Name, ID and Email Addresses.</h2>
    <p>Below are the name and email addresses on file for your account.</p>
    </br>
    <dl class="dl-horizontal">
        <dt><strong>Your name </strong></dt>
        <dd>
            <input type="text" class="form-control">
            <span>
                <a class="pull-right" href="#">
                    <i class="fa fa-pencil"></i>
                </a>
            </span>
        </dd>
        <hr>
        <dt><strong>Your ID </strong></dt>
        <dd>
            <input type="text" class="form-control">
            <span>
                <a class="pull-right" href="#">
                    <i class="fa fa-pencil"></i>
                </a>
            </span>
        </dd>
        <hr>
        <dt><strong>Company name </strong></dt>
        <dd>
            <input type="text" class="form-control">
            <span>
                <a class="pull-right" href="#">
                    <i class="fa fa-pencil"></i>
                </a>
            </span>
        </dd>
        <hr>
        <dt><strong>Primary Email Address </strong></dt>
        <dd>
            <input type="text" class="form-control">
            <span>
                <a class="pull-right" href="#">
                    <i class="fa fa-pencil"></i>
                </a>
            </span>
        </dd>
        <hr>
        <dt><strong>Phone Number </strong></dt>
        <dd>
            <input type="text" class="form-control">
            <span>
                <a class="pull-right" href="#">
                    <i class="fa fa-pencil"></i>
                </a>
            </span>
        </dd>
        <hr>
        <dt><strong>Office Number </strong></dt>
        <dd>
            (304) 44-9810-296
            <span>
                <a class="pull-right" href="#">
                    <i class="fa fa-pencil"></i>
                </a>
            </span>
        </dd>
        <hr>
        <dt><strong>Address </strong></dt>
        <dd>
            California, US
            <span>
                <a class="pull-right" href="#">
                    <i class="fa fa-pencil"></i>
                </a>
            </span>
        </dd>
        <hr>
    </dl>
    <button type="button" class="btn-u btn-u-default">Cancel</button>
    <button type="button" class="btn-u">Save Changes</button>
</div>